In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [5]:
df = pd.read_csv (r'C:\Users\Adam\OneDrive\Personal Projects\2021_LoL_esports_match_data_from_OraclesElixir_20211006.csv')
df.head()

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,...,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
0,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1,10.25,...,118.0,748.0,-56.0,-4.0,2.0,0.0,1.0,0.0,1.0,1.0
1,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1,10.25,...,84.0,2120.0,3405.0,62.0,3.0,2.0,0.0,2.0,0.0,3.0
2,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1,10.25,...,143.0,1578.0,354.0,15.0,2.0,3.0,0.0,0.0,0.0,0.0
3,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1,10.25,...,120.0,124.0,102.0,10.0,0.0,4.0,2.0,1.0,1.0,2.0
4,ESPORTSTMNT03/1632489,complete,http://matchhistory.na.leagueoflegends.com/en/...,KeSPA,2021,NaN,0,2021-01-02 07:40:39,1,10.25,...,25.0,448.0,450.0,3.0,1.0,4.0,0.0,0.0,2.0,2.0

In [4]:
# import sqlite3
# conn = sqlite3.connect('LeagueData2021.s3db')
# cur = conn.cursor()
# # date VARCHAR(100),
# cur.execute('''CREATE TABLE IF NOT EXISTS LeagueData2021(
# gameid VARCHAR(100),
# datacompleteness VARCHAR(100),
# url VARCHAR(100),
# league VARCHAR(100),
# year DOUBLE,
# split VARCHAR(100),
# playoffs DOUBLE,
# date DATE,
# game DOUBLE,
# patch DOUBLE,
# playerid DOUBLE,
# side VARCHAR(100),
# position VARCHAR(100),
# player VARCHAR(100),
# team VARCHAR(100),
# champion VARCHAR(100),
# ban1 VARCHAR(100),
# ban2 VARCHAR(100),
# ban3 VARCHAR(100),
# ban4 VARCHAR(100),
# ban5 VARCHAR(100),
# gamelength DOUBLE,
# result DOUBLE,
# kills DOUBLE,
# deaths DOUBLE,
# assists DOUBLE,
# teamkills DOUBLE,
# teamdeaths DOUBLE,
# doublekills DOUBLE,
# triplekills DOUBLE,
# quadrakills DOUBLE,
# pentakills DOUBLE,
# firstblood DOUBLE,
# firstbloodkill DOUBLE,
# firstbloodassist DOUBLE,
# firstbloodvictim DOUBLE,
# team_kpm DOUBLE,
# ckpm DOUBLE,
# firstdragon VARCHAR(100),
# dragons VARCHAR(100),
# opp_dragons VARCHAR(100),
# elementaldrakes VARCHAR(100),
# opp_elementaldrakes VARCHAR(100),
# infernals VARCHAR(100),
# mountains VARCHAR(100),
# clouds VARCHAR(100),
# oceans VARCHAR(100),
# dragons_type_unknown VARCHAR(100),
# elders VARCHAR(100),
# opp_elders VARCHAR(100),
# firstherald VARCHAR(100),
# heralds VARCHAR(100),
# opp_heralds VARCHAR(100),
# firstbaron VARCHAR(100),
# barons VARCHAR(100),
# opp_barons VARCHAR(100),
# firsttower VARCHAR(100),
# towers VARCHAR(100),
# opp_towers VARCHAR(100),
# firstmidtower VARCHAR(100),
# firsttothreetowers VARCHAR(100),
# inhibitors DOUBLE,
# opp_inhibitors DOUBLE,
# damagetochampions DOUBLE,
# dpm DOUBLE,
# damageshare DOUBLE,
# damagetakenperminute DOUBLE,
# damagemitigatedperminute DOUBLE,
# wardsplaced DOUBLE,
# wpm DOUBLE,
# wardskilled DOUBLE,
# wcpm DOUBLE,
# controlwardsbought DOUBLE,
# visionscore DOUBLE,
# vspm DOUBLE,
# totalgold DOUBLE,
# earnedgold DOUBLE,
# earned_gpm DOUBLE,
# earnedgoldshare DOUBLE,
# goldspent DOUBLE,
# gspd VARCHAR(100),
# total_cs DOUBLE,
# minionkills DOUBLE,
# monsterkills DOUBLE,
# monsterkillsownjungle DOUBLE,
# monsterkillsenemyjungle DOUBLE,
# cspm DOUBLE,
# goldat10 DOUBLE,
# xpat10 DOUBLE,
# csat10 DOUBLE,
# opp_goldat10 DOUBLE,
# opp_xpat10 DOUBLE,
# opp_csat10 DOUBLE,
# golddiffat10 DOUBLE,
# xpdiffat10 DOUBLE,
# csdiffat10 DOUBLE,
# killsat10 DOUBLE,
# assistsat10 DOUBLE,
# deathsat10 DOUBLE,
# opp_killsat10 DOUBLE,
# opp_assistsat10 DOUBLE,
# opp_deathsat10 DOUBLE,
# goldat15 DOUBLE,
# xpat15 DOUBLE,
# csat15 DOUBLE,
# opp_goldat15 DOUBLE,
# opp_xpat15 DOUBLE,
# opp_csat15 DOUBLE,
# golddiffat15 DOUBLE,
# xpdiffat15 DOUBLE,
# csdiffat15 DOUBLE,
# killsat15 DOUBLE,
# assistsat15 DOUBLE,
# deathsat15 DOUBLE,
# opp_killsat15 DOUBLE,
# opp_assistsat15 DOUBLE,
# opp_deathsat15 DOUBLE
# )''')
# conn.commit()
# df.to_sql('LeagueData2021', conn, if_exists='replace', index = False)

C:\Users\sword\Anaconda3\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [19]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
team_data = df[df['position']=='team']
team_data = team_data.loc[team_data['league'].isin(['LCS','LEC','LCK','LPL','CBLOL','LCL','LJL','LLA','LCO','PCS','TCL','VCS'])]

team_data = team_data[['league','date','playoffs','team','gamelength','result','teamkills','teamdeaths','totalgold']]
team_data = team_data.reset_index()
team_data['enemy_gold'] = None
team_data['enemy_team'] = None
temp_date = None
for index,row in team_data.iterrows():
    if temp_date != row['date']:
        team_data.loc[index,'enemy_gold'] = team_data.loc[index+1,'totalgold']
        team_data.loc[index,'enemy_team'] = team_data.loc[index+1,'team']
        temp_date = row['date']
    else:
        team_data.loc[index,'enemy_gold'] = team_data.loc[index-1,'totalgold']
        team_data.loc[index,'enemy_team'] = team_data.loc[index-1,'team']
        temp_date = row['date']

team_data.rename(columns={'teamkills': 'ally_kills', 'teamdeaths': 'enemy_kills','totalgold':'ally_gold'}, inplace=True)
team_data['gamelength'] = team_data['gamelength']/60
team_data.insert(0, 'elo_rating', 1000)
team_data.insert(3, 'new_elo',None)
team_data.insert(0, 'gamenum', 1)
team_data['enemy_elo'] = 1000
team_data['ally_gold'] = round(team_data['ally_gold'] / team_data['gamelength'],2) 
team_data['enemy_gold'] = team_data['enemy_gold'] / team_data['gamelength']
team_data.insert(9,'gold_diff', team_data['ally_gold']-team_data['enemy_gold'])
team_data.insert(10,'kill_diff', team_data['ally_kills']-team_data['enemy_kills'])

team_data.head(10)

,gamenum,elo_rating,index,league,new_elo,date,playoffs,team,gamelength,gold_diff,kill_diff,result,ally_kills,enemy_kills,ally_gold,enemy_gold,enemy_team,enemy_elo
0,1,1000,46,LPL,None,2021-01-09 09:22:04,0,Top Esports,34.166667,-172.767,-6,0,3,9,1598.55,1771.32,Suning,1000
1,1,1000,47,LPL,None,2021-01-09 09:22:04,0,Suning,34.166667,172.774,6,1,9,3,1771.32,1598.55,Top Esports,1000
2,1,1000,58,LPL,None,2021-01-09 10:16:20,0,Top Esports,37.350000,-15.4455,-11,0,16,27,1865.92,1881.37,Suning,1000
3,1,1000,59,LPL,None,2021-01-09 10:16:20,0,Suning,37.350000,15.453,10,1,27,17,1881.37,1865.92,Top Esports,1000
4,1,1000,70,LPL,None,2021-01-09 11:30:25,0,Oh My God,31.450000,-305.026,-11,0,4,15,1626.23,1931.26,EDward Gaming,1000
5,1,1000,71,LPL,None,2021-01-09 11:30:25,0,EDward Gaming,31.450000,305.028,11,1,15,4,1931.26,1626.23,Oh My God,1000
6,1,1000,82,LPL,None,2021-01-09 12:23:44,0,EDward Gaming,33.500000,-309.256,-10,0,8,18,1619.64,1928.9,Oh My God,1000
7,1,1000,83,LPL,None,2021-01-09 12:23:44,0,Oh My God,33.500000,309.258,10,1,18,8,1928.90,1619.64,EDward Gaming,1000
8,1,1000,94,LPL,None,2021-01-09 13:19:06,0,Oh My God,35.983333,-273.963,-8,0,8,16,1608.77,1882.73,EDward Gaming,1000
9,1,1000,95,LPL,None,2021-01-09 13:19:06,0,EDward Gaming,35.983333,273.957,8,1,16,8,1882.73,1608.77,Oh My God,1000

In [20]:
kill_diff_std = abs(team_data['kill_diff']).std()
gold_diff_std = abs(team_data['gold_diff']).std()

team_dict = {}
elo_dict = {}
temp_date = None
for index, row in team_data.iterrows():
    if row['team'] in team_dict:
        team_dict[row['team']] = team_dict[row['team']] + 1
        team_data.loc[index,'gamenum'] = team_dict[row['team']] 
    else:
        team_dict[row['team']] = row['gamenum']

for index, row in team_data.iterrows():        
    ##only runs if previous row wasn't the same match
    if temp_date != row['date']:
        ##checks if team occurred previously (stored in dictionary)
        if row['team'] in elo_dict:
            ##checks if enemy team occurred previously and takes the elo (stored in dictionary)
            if row['enemy_team'] in elo_dict:
                enemy_elo = elo_dict[row['enemy_team']]
            ##else grabs it from row (which will be the initial elo of 1000)
            else:
                enemy_elo = row['enemy_elo']
            ##since team is in dictionary (implying it is updated from base) takes updated elo of that team    
            elo_rating = elo_dict[row['team']]
        ##if team isn't in dict but enemy is, takes team elo from row data (1000) and enemy from dict
        elif row['enemy_team'] in elo_dict:
            elo_rating = row['elo_rating']
            enemy_elo = elo_dict[row['enemy_team']]
        ##if neither in dict, takes from row (1000)
        else:
            elo_rating = row['elo_rating']
            enemy_elo = row['enemy_elo']
            
        ##getting dictionary data and replacing old values
        team_data.loc[index,'elo_rating'] = elo_rating
        team_data.loc[index,'enemy_elo'] = enemy_elo

        ##calculating elo and putting it in dictionary and new_elo value
        dr = elo_rating - enemy_elo
        W_e = 1 / (10**(-(float(dr))/400) + 1)
        if row['playoffs'] == 1:
            elo_dict[row['team']] = row['elo_rating'] + 150*(1+abs(row['gold_diff'])/gold_diff_std+abs(row['kill_diff'])/kill_diff_std)*(row['result']-W_e)
        else:
            elo_dict[row['team']] = row['elo_rating'] + 100*(1+abs(row['gold_diff'])/gold_diff_std+abs(row['kill_diff'])/kill_diff_std)*(row['result']-W_e)
#         elo_dict[row['team']] = row['elo_rating'] + 100*(1+abs(row['gold_diff'])/gold_diff_std+abs(row['kill_diff'])/kill_diff_std)*(row['result']-W_e)
#         elo_dict[row['team']] = row['elo_rating'] + 40*(1+abs(row['gold_diff'])/gold_diff_std)*(row['result']-W_e)        
        team_data.loc[index,'new_elo'] = elo_dict[row['team']]
        
        ##grabbing date of match to ensure duplication is taken account of
        temp_date = row['date']
    ##if date is same, swaps the elo from previous loop
    else:
        ##replacing old values of swap (current team was enemy in previous loop, and current enemy was team)
        team_data.loc[index,'elo_rating'] = enemy_elo
        team_data.loc[index,'enemy_elo'] = elo_rating
        ##swapping holder variable values
        elo_rating =  team_data.loc[index,'elo_rating']
        enemy_elo = team_data.loc[index,'enemy_elo']
        
        ##calculating elo and putting it in dictionary and new_elo value
        dr = elo_rating - enemy_elo
        W_e = 1 / (10**(-(float(dr))/400) + 1) 
        if row['playoffs'] == 1:
            elo_dict[row['team']] = row['elo_rating'] + 150*(1+abs(row['gold_diff'])/gold_diff_std+abs(row['kill_diff'])/kill_diff_std)*(row['result']-W_e)
        else:
            elo_dict[row['team']] = row['elo_rating'] + 100*(1+abs(row['gold_diff'])/gold_diff_std+abs(row['kill_diff'])/kill_diff_std)*(row['result']-W_e)
#         elo_dict[row['team']] = row['elo_rating'] + 100*(1+abs(row['gold_diff'])/gold_diff_std+abs(row['kill_diff'])/kill_diff_std)*(row['result']-W_e)
#         elo_dict[row['team']] = row['elo_rating'] + 40*(1+abs(row['gold_diff'])/gold_diff_std)*(row['result']-W_e)        
        team_data.loc[index,'new_elo'] = elo_dict[row['team']]
        
        ##grabbing date of match to ensure duplication is taken account of
        temp_date = row['date']
        
        
team_data.head()

,gamenum,elo_rating,index,league,new_elo,date,playoffs,team,gamelength,gold_diff,kill_diff,result,ally_kills,enemy_kills,ally_gold,enemy_gold,enemy_team,enemy_elo
0,1,1000.000000,46,LPL,831.108,2021-01-09 09:22:04,0,Top Esports,34.166667,-172.767,-6,0,3,9,1598.55,1771.32,Suning,1000.000000
1,1,1000.000000,47,LPL,1168.89,2021-01-09 09:22:04,0,Suning,34.166667,172.774,6,1,9,3,1771.32,1598.55,Top Esports,1000.000000
2,2,831.107592,58,LPL,957.286,2021-01-09 10:16:20,0,Top Esports,37.350000,-15.4455,-11,0,16,27,1865.92,1881.37,Suning,1168.894535
3,2,1168.894535,59,LPL,1040.08,2021-01-09 10:16:20,0,Suning,37.350000,15.453,10,1,27,17,1881.37,1865.92,Top Esports,831.107592
4,1,1000.000000,70,LPL,735.815,2021-01-09 11:30:25,0,Oh My God,31.450000,-305.026,-11,0,4,15,1626.23,1931.26,EDward Gaming,1000.000000
5,1,1000.000000,71,LPL,1264.19,2021-01-09 11:30:25,0,EDward Gaming,31.450000,305.028,11,1,15,4,1931.26,1626.23,Oh My God,1000.000000
6,2,1264.186074,82,LPL,513.175,2021-01-09 12:23:44,0,EDward Gaming,33.500000,-309.256,-10,0,8,18,1619.64,1928.9,Oh My God,735.814547
7,2,735.814547,83,LPL,1486.83,2021-01-09 12:23:44,0,Oh My God,33.500000,309.258,10,1,18,8,1928.90,1619.64,EDward Gaming,1264.186074
8,3,1486.826694,94,LPL,556.413,2021-01-09 13:19:06,0,Oh My God,35.983333,-273.963,-8,0,8,16,1608.77,1882.73,EDward Gaming,513.174963
9,3,513.174963,95,LPL,1443.58,2021-01-09 13:19:06,0,EDward Gaming,35.983333,273.957,8,1,16,8,1882.73,1608.77,Oh My God,1486.826694
10,1,1000.000000,358,LPL,1254.26,2021-01-10 09:15:46,0,Team WE,30.833333,371.937,8,1,15,7,1846.64,1474.7,Rogue Warriors,1000.000000
11,1,1000.000000,359,LPL,745.74,2021-01-10 09:15:46,0,Rogue Warriors,30.833333,-371.938,-8,0,7,15,1474.70,1846.64,Team WE,1000.000000
12,2,745.740496,370,LPL,975.911,2021-01-10 10:07:07,0,Rogue Warriors,30.683333,-383.593,-6,0,12,18,1664.75,2048.34,Team WE,1254.259329
13,2,1254.259329,371,LPL,1023.02,2021-01-10 10:07:07,0,Team WE,30.683333,383.593,5,1,17,12,2048.34,1664.75,Rogue Warriors,745.740496
14,1,1000.000000,382,LPL,1303.83,2021-01-10 11:09:39,0,Invictus Gaming,28.666667,427.743,11,1,16,5,1922.58,1494.84,JD Gaming,1000.000000
15,1,1000.000000,383,LPL,685.659,2021-01-10 11:09:39,0,JD Gaming,28.666667,-427.741,-12,0,4,16,1494.84,1922.58,Invictus Gaming,1000.000000
16,2,1303.827661,394,LPL,1019.66,2021-01-10 11:58:01,0,Invictus Gaming,27.233333,358.128,18,1,25,7,1982.02,1623.89,JD Gaming,685.659112
17,2,685.659112,395,LPL,980.341,2021-01-10 11:58:01,0,JD Gaming,27.233333,-358.13,-18,0,7,25,1623.89,1982.02,Invictus Gaming,1303.827661
18,1,1000.000000,406,LPL,1221.43,2021-01-11 09:16:37,0,eStar,40.833333,205.225,10,1,14,4,1827.38,1622.16,Bilibili Gaming,1000.000000
19,1,1000.000000,407,LPL,778.569,2021-01-11 09:16:37,0,Bilibili Gaming,40.833333,-205.22,-10,0,4,14,1622.16,1827.38,eStar,1000.000000
20,2,1221.432231,418,LPL,403.477,2021-01-11 10:17:55,0,eStar,27.000000,-450.107,-12,0,6,18,1628.30,2078.41,Bilibili Gaming,778.569483
21,2,778.569483,419,LPL,1596.53,2021-01-11 10:17:55,0,Bilibili Gaming,27.000000,450.114,12,1,18,6,2078.41,1628.3,eStar,1221.432231
22,3,403.477125,430,LPL,999.467,2021-01-11 11:03:58,0,eStar,32.666667,-378.455,-8,0,11,19,1669.78,2048.23,Bilibili Gaming,1596.526648
23,3,1596.526648,431,LPL,1000.53,2021-01-11 11:03:58,0,Bilibili Gaming,32.666667,378.454,8,1,19,11,2048.23,1669.78,eStar,403.477125
24,1,1000.000000,442,LPL,645.59,2021-01-11 12:06:26,0,ThunderTalk Gaming,27.683333,-486.686,-14,0,4,18,1538.72,2025.41,Royal Never Give Up,1000.000000
25,1,1000.000000,443,LPL,1354.41,2021-01-11 12:06:26,0,Royal Never Give Up,27.683333,486.686,14,1,18,4,2025.41,1538.72,ThunderTalk Gaming,1000.000000
26,2,645.590282,454,LPL,990.741,2021-01-11 12:53:00,0,ThunderTalk Gaming,28.233333,-284.341,-13,0,6,19,1628.54,1912.88,Royal Never Give Up,1354.409704
27,2,1354.409704,455,LPL,1009.26,2021-01-11 12:53:00,0,Royal Never Give Up,28.233333,284.344,13,1,19,6,1912.88,1628.54,ThunderTalk Gaming,645.590282
28,1,1000.000000,958,LPL,1047.1,2021-01-12 09:16:15,0,FunPlus Phoenix,25.183333,464.479,12,1,14,2,2052.95,1588.47,Oh My God,556.412849
29,4,556.412849,959,LPL,952.901,2021-01-12 09:16:15,0,Oh My God,25.183333,-464.475,-12,0,2,14,1588.47,2052.95,FunPlus Phoenix,1000.000000

In [24]:
worlds_elo = team_data.groupby('team').last().reset_index()


worlds_teams = ('LNG Esports', 'Hanwha Life Esports', 'PEACE', 'RED Canids', 'Infinity Esports', 'Cloud9', 'DetonatioN FocusMe', 'Galatasaray Esports','Beyond Gaming',\
                'DWG KIA','FunPlus Phoenix', 'Rogue', '100 Thieves', 'EDward Gaming', 'T1', 'Unicorns Of Love.CIS', 'Fnatic', 'PSG Talon', 'Royal Never Give Up', 'Gen.G',\
               'MAD Lions', 'Team Liquid')
# display(worlds_elo[worlds_elo.index in worlds_teams])
# display(worlds_elo[worlds_elo['team'].isin(worlds_teams)][['team','league','new_elo']].sort_values(by='new_elo'))

elo_list = worlds_elo[worlds_elo['team'].isin(worlds_teams)][['team','league','gamenum','new_elo']].sort_values(by='new_elo')
for index,row in elo_list.iterrows():
    if row['league'] == 'LPL':
        elo_list.loc[index,'new_elo'] = row['new_elo']*(1+76/288)
#         elo_list.loc[index,'new_elo'] = row['new_elo']*(1+31/120)
#         elo_list.loc[index,'new_elo'] = row['new_elo']*(1+20/72)
    elif row['league'] == 'LCK':
        elo_list.loc[index,'new_elo'] = row['new_elo']*(1+140/288)
#         elo_list.loc[index,'new_elo'] = row['new_elo']*(1+48/120)
#         elo_list.loc[index,'new_elo'] = row['new_elo']*(1+24/72)
    elif row['league'] == 'LEC':
        elo_list.loc[index,'new_elo'] = row['new_elo']*(1+44/288)
#         elo_list.loc[index,'new_elo'] = row['new_elo']*(1+25/120)
#         elo_list.loc[index,'new_elo'] = row['new_elo']*(1+16/72)
    elif row['league'] == 'LCS':
        elo_list.loc[index,'new_elo'] = row['new_elo']*(1+9/288)
#         elo_list.loc[index,'new_elo'] = row['new_elo']*(1+8/120)
#         elo_list.loc[index,'new_elo'] = row['new_elo']*(1+7/72)
    elif row['league'] == 'PCS':
        elo_list.loc[index,'new_elo'] = row['new_elo']*(1+18/288)        
#         elo_list.loc[index,'new_elo'] = row['new_elo']*(1+7/120)
#         elo_list.loc[index,'new_elo'] = row['new_elo']*(1+4/72)
    elif row['league'] == 'LCL':
        elo_list.loc[index,'new_elo'] = row['new_elo']*(1+1/288)
#         elo_list.loc[index,'new_elo'] = row['new_elo']*(1+1/120)
#         elo_list.loc[index,'new_elo'] = row['new_elo']*(1+1/72)
#     else:
#         elo_list.loc[index,'new_elo'] = row['new_elo']*0.75
#             LPL:76/288
#             LCK:140/288
#             LEC:44/288
#             LCS:9/288
#             PCS:18/288
#             LCL:1/288
    
display(elo_list.sort_values(by='new_elo',ascending = False))

Playin_A = set(['LNG Esports',  'Hanwha Life Esports', 'PEACE', 'RED Canids', 'Infinity Esports'])
Playin_B = set(['Cloud9', 'DetonatioN FocusMe', 'Galatasaray Esports','Beyond Gaming','Unicorns Of Love.CIS'])

Group_A = set(['DWG KIA','FunPlus Phoenix', 'Rogue'])
Group_B = set(['100 Thieves', 'EDward Gaming', 'T1'])
Group_C = set(['Fnatic', 'PSG Talon', 'Royal Never Give Up'])
Group_D = set(['Gen.G','MAD Lions', 'Team Liquid','LNG Esports'])

display(elo_list[elo_list['team'].isin(Playin_A)].sort_values(by='new_elo',ascending=False))
display(elo_list[elo_list['team'].isin(Playin_B)].sort_values(by='new_elo',ascending=False))

display(elo_list[elo_list['team'].isin(Group_A)].sort_values(by='new_elo',ascending=False))
display(elo_list[elo_list['team'].isin(Group_B)].sort_values(by='new_elo',ascending=False))
display(elo_list[elo_list['team'].isin(Group_C)].sort_values(by='new_elo',ascending=False))
display(elo_list[elo_list['team'].isin(Group_D)].sort_values(by='new_elo',ascending=False))

                     team league  gamenum      new_elo
85              PSG Talon    PCS       62  2180.340807
26                DWG KIA    LCK       99  2090.351616
103                    T1    LCK      111  1753.628796
87             RED Canids  CBLOL       55  1745.160208
95    Royal Never Give Up    LPL      100  1709.451826
32          EDward Gaming    LPL      100  1573.143306
48    Galatasaray Esports    TCL       51  1526.147829
115  Unicorns Of Love.CIS    LCL       51  1518.099986
28     DetonatioN FocusMe    LJL       48  1495.375808
84                  PEACE    LCO       66  1341.965644
68            LNG Esports    LPL      109  1264.153324
54    Hanwha Life Esports    LCK      107  1218.591029
50                  Gen.G    LCK      100  1174.849058
74              MAD Lions    LEC       60  1152.781597
40                 Fnatic    LEC       65  1152.773958
0             100 Thieves    LCS       83  1093.788690
59       Infinity Esports    LLA       50  1000.475408
108           Team Liquid    LCS       92   968.711457
43        FunPlus Phoenix    LPL      104   954.629289
93                  Rogue    LEC       64   659.699567
20                 Cloud9    LCS       93   389.565482
10          Beyond Gaming    PCS       66   -55.347700

                   team league  gamenum      new_elo
87           RED Canids  CBLOL       55  1745.160208
84                PEACE    LCO       66  1341.965644
68          LNG Esports    LPL      109  1264.153324
54  Hanwha Life Esports    LCK      107  1218.591029
59     Infinity Esports    LLA       50  1000.475408

                     team league  gamenum      new_elo
48    Galatasaray Esports    TCL       51  1526.147829
115  Unicorns Of Love.CIS    LCL       51  1518.099986
28     DetonatioN FocusMe    LJL       48  1495.375808
20                 Cloud9    LCS       93   389.565482
10          Beyond Gaming    PCS       66   -55.347700

               team league  gamenum      new_elo
26          DWG KIA    LCK       99  2090.351616
43  FunPlus Phoenix    LPL      104   954.629289
93            Rogue    LEC       64   659.699567

              team league  gamenum      new_elo
103             T1    LCK      111  1753.628796
32   EDward Gaming    LPL      100  1573.143306
0      100 Thieves    LCS       83  1093.788690

                   team league  gamenum      new_elo
85            PSG Talon    PCS       62  2180.340807
95  Royal Never Give Up    LPL      100  1709.451826
40               Fnatic    LEC       65  1152.773958

            team league  gamenum      new_elo
68   LNG Esports    LPL      109  1264.153324
50         Gen.G    LCK      100  1174.849058
74     MAD Lions    LEC       60  1152.781597
108  Team Liquid    LCS       92   968.711457